body {
  background-color: #efefef;
  font-size: 16px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

/* headerセクション */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 5px;
}

.logo-img {
  width: 100%;
}

.header-navigation {
  display: flex;
  margin-right: 5px;
}

.header-navigation li {
  padding: 0 10px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #333;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.header-navigation li a:hover{
  transition: all 0.5s;
  opacity: 0.5;
}

/* mainセクション */
.container {
  width: 870px;
  height: auto;
  margin: 40px auto;
}

.text-title {
  font-weight: 700;
  font-size: 36px;
}

.card-contents {
  padding: 22px 32px;
  display: block;
  margin: 30px 0;
  background-color: #fff;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 15px; 
}

/* 最新情報 */
.card-title {
  font-weight: 700;
  font-size: 22px;
}


.information-list {
  list-style-type: none;
  padding-left: 0;
}

.information-list li {
  margin-bottom: 10px;
}

.information-list li .information-date {
  margin-right: 30px;
}

/* ユーザー情報 */
.user-items {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-items .item {
  margin-bottom: 24px;
  margin-right: 48px;
  text-align: center;
}

.user-items .item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-items .item .username {
  color: #818181;
  margin: 10px auto;
}

.user-items .item .user-detail {
    color: #fff;
    border: none;
    background: #58c1bc;

    width: 123px;
    height: auto;
    line-height: 28px;
    
    border-radius: 5px;
    
    cursor: pointer;
}

.user-items .item .user-detail:hover{
  transition: all 0.5s;
  opacity: 0.5;
}

/* フッターセクション */
footer {
  background-color: #818181;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}